{% extends 'base.html' %}

{% block title %}Tous les Posts{% endblock %}

{% block content %}
    <h1><i class="fas fa-comments"></i> Tous les Posts</h1>

    {% if user.is_authenticated %}
        <p><i class="fas fa-info-circle"></i> Vous devez être dans une communauté pour créer un post.</p>
    {% else %}
        <p><i class="fas fa-info-circle"></i> Vous devez être connecté pour créer un post.</p>
    {% endif %}

    {% if page_obj.object_list %}
        <ul class="list-group mb-4">
            {% for post in page_obj.object_list %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'post_detail' post.id %}" class="h5 mb-1">{{ post.title }}</a>
                        <span class="badge badge-secondary"><i class="fas fa-arrow-up"></i> {{ post.upvotes }}</span>
                    </div>
                    <p class="mb-1">{{ post.content|truncatewords:20 }}</p>
                    <small class="text-muted">Posté le : {{ post.created_at|date:"d/m/Y H:i" }} dans la communauté "{{ post.community.name }}"</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i class="fas fa-exclamation-circle"></i> Aucun post n'a été trouvé.</p>
    {% endif %}

    <!-- Pagination Controls -->
    {% if page_obj.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Premier"><span aria-hidden="true">&laquo;&laquo;</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Précédent"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Suivant"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Dernier"><span aria-hidden="true">&raquo;&raquo;</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
